body {
  background-color: rgb(189, 55, 55);
  background-image: url(../img/spider-background.png);
  color: rgb(255, 233, 237);
  font-family: 'Press Start 2P', cursive;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  background-color: rgb(56, 56, 65);
  color:rgb(233, 238, 255);
}

.navbar a {
  color:rgb(233, 238, 255);
}

.navbar a:hover {
  color: rgb(189, 55, 55);
}

.welcomeText {
  text-align: center;
}

.jumbotron {
  background-color: rgba(37, 51, 180, 0.87);
  color: rgb(233, 238, 255);
  font-family: 'Fascinate', cursive;
  text-align: center;
}

.jumbotron h1 {
  font-size: 70px;
}

.jumbotron h6 {
  font-size: 24px;
}

.spider {
  background-color:rgba(136, 29, 29, 0.733);
  border-radius: 30px;
  padding: 20px;
  margin: 30px;
}

#start {
  margin: 5px;
  background: rgba(165, 24, 24, 0.815);
  font-family: 'Press Start 2P', cursive;
  color: rgb(233, 255, 238);
  border: inset 5px rgba(156, 53, 39, 0.863);
  border-radius: 20px;
  box-shadow: 0 3px rgb(134, 105, 105);
}

#start:hover {
  background: rgba(139, 43, 46, 0.829);
}

#start:active {
  background: rgba(117, 29, 29, 0.726);
  box-shadow: 0 1px rgb(134, 105, 105);
  transform: translateY(2px);
}

.pizzaForm {
  display: none;
}  

#howmuch-button {
  margin: 5px;
  background: rgba(165, 24, 24, 0.815);
  font-family: 'Press Start 2P', cursive;
  color: rgb(233, 255, 238);
  border: inset 5px rgba(156, 53, 39, 0.863);
  border-radius: 20px;
  box-shadow: 0 3px rgb(134, 105, 105);
}

#howmuch-button:hover {
  background: rgba(139, 43, 46, 0.829);
}

#howmuch-button:active {
  background: rgba(117, 29, 29, 0.726);
  box-shadow: 0 1px rgb(134, 105, 105);
  transform: translateY(2px);
}

#buy-button {
  margin: 5px;
  background: rgba(165, 24, 24, 0.815);
  font-family: 'Press Start 2P', cursive;
  color: rgb(233, 255, 238);
  border: inset 5px rgba(156, 53, 39, 0.863);
  border-radius: 20px;
  box-shadow: 0 3px rgb(134, 105, 105);
}

#buy-button:hover {
  background: rgba(139, 43, 46, 0.829);
}

#buy-button:active {
  background: rgba(117, 29, 29, 0.726);
  box-shadow: 0 1px rgb(134, 105, 105);
  transform: translateY(2px);
}

#cart {
  display: none;
  text-align: center;
  background-color:rgba(136, 29, 29, 0.733);
  border-radius: 30px;
  padding: 20px;
  margin: 30px;
}

#receipt {
  display: none;
  text-align: center;
  background-color:rgba(136, 29, 29, 0.733);
  border-radius: 30px;
  padding: 20px;
  margin: 30px;
}